<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="coop">
  <div class="my-auto">
    <h2 class="mb-5">Colaboraciónes</h2>
    <p>
    <ul style="font-size: 0.8rem;" class="fa-ul mb-0">
      {{ range ( sort $.Site.Data.coop ".start" "desc" ) }}
      <li>
        <i class="fa-li fa fa-gear"></i> {{ .coop }}
        {{ if .end }}
        <i>{{ .start }} - {{ .end }}</i>
        {{ else }}
        <i>{{ .start }}</i>
        {{ end }}
      <li>
      {{ end }}
    </ul>
    </p>
  </div>
</section>