<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
  <a class="navbar-brand" href="#page-top" onClick="hideMenu()">
    <span class="d-block d-lg-none">IFA</span>
    <span class="d-none d-lg-block">
      <img class="img-fluid img-profile rounded mx-auto mb-2" src="/img/ifa.svg" alt="">
    </span>
  </a>
  <button class="navbar-toggler" type="button" onClick="toggleMenu()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#servicios" onClick="hideMenu()">{{ i18n "services" }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#publicacionesnacionales" onClick="hideMenu()">{{ i18n "natpub" }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#manuales" onClick="hideMenu()">{{ i18n "handbooks" }}</a>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link" href="#difusionpopular" onClick="hideMenu()">Difusion popular</a>
      </li>-->
      <li class="nav-item">
        <a class="nav-link" href="#publicacionesinternacionales" onClick="hideMenu()">{{ i18n "intpub" }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#seminariosytalleres" onClick="hideMenu()">{{ i18n "seminars" }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#postersdeconferencias" onClick="hideMenu()">{{ i18n "posters" }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#proyectos" onClick="hideMenu()">{{ i18n "intproj" }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#coop" onClick="hideMenu()">{{ i18n "collab" }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contacto" onClick="hideMenu()">{{ i18n "contact" }}</a>
      </li>
     {{if eq (string .Language) "es"}}
      <li class="nav-item">
        <a class="nav-link" href="/en/" onClick="hideMenu()">English</a>
      </li>
     {{ else }}
      <li class="nav-item">
        <a class="nav-link" href="/" onClick="hideMenu()">Español</a>
      </li>
     {{ end }}
    </ul>
  </div>
</nav>
