<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="publicacionesinternacionales">
  <div class="my-auto">
    <h2 class="mb-5">{{ i18n "intpub" }}</h2>
    {{ $alfa := sort $.Site.Data.pubint "title" }}
    {{ $alfau := uniq (apply (sort $alfa "year" "desc") "index" "." "year") }}
    {{ range $year := $alfau }}
    {{ range $alfa }}
    {{ if eq $year .year}}
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        {{ if .link }}
        <h3 class="mb-0"><a target="_blank" href="{{ .link }}">{{ .title }}</a></h3>
        {{ else }}
        <h3 class="mb-0">{{ .title }}</h3>
        {{ end }}
        <div class="subheading mb-3">{{ .stitle }}</div>
        <p>{{ safeHTML (replace (replace (replace (replace (replace (replace (replace (replace .author "Svensson Harari N" "<b>Svensson Harari N</b>") "Freire R" "<b>Freire R</b>") "Harari H" "<b>Harari H</b>") "Harari N" "<b>Harari N</b>") "Harari Freire F" "<b>Harari Freire F</b>") "Harari F" "<b>Harari F</b>") "Harari Arjona R" "<b>Harari Arjona R</b>") "Harari R" "<b>Harari R</b>") }}</p>
        <p><i>{{ .journal }}</i></p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">{{ .year }}</span>
      </div>
    </div>
    {{ end }}
    {{ end }}
    {{ end }}
  </div>
</section>