<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="publicacionesnacionales">
  <div class="my-auto">
    <h2 class="mb-5">Publicaciones Nacionales</h2>
    {{ $headless := .Site.GetPage "/img" }}
    <div class="row">
      {{ range $.Site.Data.pubnat }}
      {{ $img := ($headless.Resources.GetMatch .img) }}
      <div class="col-md-6 col-sm-12">
        <div class="media book">
          <img
            class="mr-3 book"
            src="{{ ($img.Resize "360x").RelPermalink }}"
            alt="{{ .title }}">
          <div class="media-body">
            <h5 class="mt-0">{{ .title }}</h5>
            <p>{{ .text }}</p>
              {{ if eq .pdf "buy" }}
                <a href="mailto:ifa@ifa.org.ec?subject=Ordernar: {{ .title }}">Quieres ordenar este libro?</a>  Envía un e-mail a: ifa@ifa.org.ec
              {{ else if eq .pdf "" }}
                <a href="mailto:ifa@ifa.org.ec?subject=Interesado: {{ .title }}">Estás interesado en este libro?</a>  Envía un e-mail a: ifa@ifa.org.ec
              {{ else }}
                <a href="{{ .pdf }}" target="_blank">Descargar</a>
              {{ end }}
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
